@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700");

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka", sans-serif;
}

/* FRAME */
.frame {
  display: flex;

  width: 1100px;
  height: 650px;

  background: var(--bg-color);
  border: 6px solid var(--text-color);
  box-shadow:
    0 0 0 6px var(--bg-color),
    inset 0 0 0 3px var(--bg-color);
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--primary-color);
  border-right: 6px solid var(--text-color);
}

.sidebar button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background: var(--LightOrange);
  color: var(--text-color);
  font-weight: 600;
  text-align: left;
  box-shadow: 3px 3px 0 var(--text-color);
  transition: 0.15s ease;
}

.sidebar button:hover {
  transform: translateY(-2px);
  background: var(--WhiteOrange);
}

.active {
  background: var(--WhiteOrange) !important;
}

/* MAIN AREA */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  background: var(--primary-color);
  color: var(--WhiteOrange);
  padding: 14px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  border-bottom: 6px solid var(--text-color);
}

/* CONTENT */
.content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: hidden;
}

/* TITLE */
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--DarkGrey);
  background: var(--LightOrange);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 var(--text-color);
}

/* HERO BOX */
.heroRow {
  display: flex;
  gap: 16px;
  align-items: center;
  background: var(--Eggshell);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 4px 4px 0 var(--text-color);
}

.hero {
  width: 100px;
  image-rendering: pixelated;
}

.text {
  font-size: 20px;
  color: var(--DarkGrey);
  line-height: 1.6;
}

/* FEATURE GRID */
.featureBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background: var(--primary-color);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 4px 4px 0 var(--text-color);
}

.featureBar div {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: var(--DarkGrey);
}

.featureBar img {
  width: 28px;
  image-rendering: pixelated;
}

/* FOOTER */
.aboutBox {
  background: var(--primary-color);
  color: var(--DarkGrey);
  padding: 12px;
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 4px 4px 0 var(--text-color);
}