.overlay {
  position: absolute;
  top: 80px;
  left: 40px;

  z-index: 10;
}

/* MAIN PANEL */
.panel {
  display: flex;
  width: 520px;
  border-radius: 20px;
  overflow: hidden;

  background: #f6be51;
  box-shadow: 6px 6px 0 #1a1a1a;
}

/* SIDEBAR */
.sidebar {
  width: 150px;
  background: #2a1d4a;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.sidebar button {
  all: unset;
  cursor: pointer;

  background: #b4a3fd;
  padding: 8px;
  border-radius: 10px;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.active {
  background: #ffb9cc;
}

/* MAIN */
.main {
  flex: 1;
  padding: 16px;
  background: #fff2d2;
}

/* TITLE */
.title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #2a1d4a;
}

/* HERO ROW */
.heroRow {
  display: flex;
  gap: 12px;
  align-items: center;

  background: #f9f5f0;
  padding: 10px;
  border-radius: 12px;
}

.heroRow img {
  width: 80px;
  image-rendering: pixelated;
}

.heroRow p {
  font-size: 12px;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 12px;
  gap: 8px;
}

.features div {
  text-align: center;
  background: #87d4f2;
  padding: 6px;
  border-radius: 10px;
}

.features img {
  width: 24px;
}

.features span {
  display: block;
  font-size: 10px;
}