.marketPanel {
  width: 40%;
  background: #fff2d2;
  border-radius: 20px;
  overflow: hidden;
}

.marketHeader {
  background: #e8893a;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}

.marketTabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tab {
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.active {
  color: #e8893a;
}



/* GOLD BAR */
.marketGold {
  background: #e8893a;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}