.app-container {
	height: 100vh;
	width: 1280px;
	display: flex;
	flex-direction: column;
	justify-items: space-around;
	background-color: beige;
}

.route-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	background-color: #753A36;
}
